body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}


header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0px 10px;
}

section {
    padding: 40px;
    text-align: center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

.kartice {
    display:flex;
    gap: 20px;
    justify-content: center;
}

.kartica {
    background-color: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
}